<div class="tree-node">
    <div class="node-box">
        <a href="{% url 'family_detail' data.member.pk %}" class="node">
            {{ data.member.first_name }} {{ data.member.middle_name }} {{ data.member.last_name }}
        </a>
        {% if data.spouse %}
            <span class="plus">+</span>
            <div class="spouse-node">{{ data.spouse }}</div>
        {% endif %}
    </div>
    {% if data.children %}
        <div class="connector"></div>
        <div class="children-row">
            {% for child in data.children %}
                {% include 'accounts/tree_node.html' with data=child %}
            {% endfor %}
        </div>
    {% endif %}
</div>